manifest {
  description = 'Run google DeepVariant with Nextflow!'
  mainScript = 'main.nf'
}

process.container = 'gcr.io/deepvariant-docker/deepvariant:0.6.1'

docker {
  enabled=true
}

profiles{

  s3{
    params.modelFolder="s3://deepvariant-test/models"
    params.fasta="s3://deepvariant-test/input/ucsc.hg19.chr20.unittest.fasta";
    params.fai="s3://deepvariant-test/input/ucsc.hg19.chr20.unittest.fasta.fai";
    params.fastagz="s3://deepvariant-test/input/ucsc.hg19.chr20.unittest.fasta.gz";
    params.gzfai="s3://deepvariant-test/input/ucsc.hg19.chr20.unittest.fasta.gz.fai";
    params.gzi="s3://deepvariant-test/input/ucsc.hg19.chr20.unittest.fasta.gz.gzi";
    params.bam_folder="s3://deepvariant-test/input/";
  }
	
  s3wholeGenome{
    params.fasta="s3://dv-testfiles/hg19.fa";
    params.fai="s3://dv-testfiles/hg19.fa.fai";
    params.fastagz="s3://dv-testfiles/hg19.fa.gz";
    params.gzfai="s3://dv-testfiles/hg19.fa.gz.fai";
    params.gzi="s3://dv-testfiles/hg19.fa.gz.gzi";
    params.bam="s3://dv-testfiles/"
	
  }
  localtest
  {
    params.bam_folder="$baseDir/data";
    params.fasta="$baseDir/data/hg19.fa";
    params.fai="$baseDir/data/hg19.fa.fai";
    params.fastagz="$baseDir/data/hg19.fa.gz";
    params.gzfai="$baseDir/data/hg19.fa.gz.fai";
    params.gzi="$baseDir/data/hg19.fa.gz.gzi";
  }
  s3g38whole{
    params.fasta="s3://gencode.38/GRCh38.p10.genome.fa"
    params.bam_folder="s3://dv-testfiles/g38Bam/"	
  }

}


