manifest {
  description = 'Run google DeepVariant with Nextflow!'
  mainScript = 'main.nf'
}

process.container = 'gcr.io/deepvariant-docker/deepvariant:0.4.1'

docker {
  enabled=true
}

profiles{

  s3{
    params.modelFolder="s3://deepvariant-test/models"
    params.input="s3://deepvariant-test/input"
    params.regions="chr20:10,000,000-10,010,000";
    params.bam_name="NA12878_S1.chr20.10_10p1mb.bam";
    params.ref_name="ucsc.hg19.chr20.unittest.fasta";
  }


}

aws {
  accessKey = 'AKIAIAVRX2UG2RFMGNAA'
  secretKey = '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'
}
