manifest {
  description = 'Run google DeepVariant with Nextflow!'
  mainScript = 'main.nf'
}

process.container = 'gcr.io/deepvariant-docker/deepvariant:0.4.1'

docker {
  enabled=true
}

profiles{

  s3{
    params.modelFolder="s3://deepvariant-test/models"
    params.fai="s3://deepvariant-test/input/ucsc.hg19.chr20.unittest.fasta.fai";
    params.fastagz="s3://deepvariant-test/input/ucsc.hg19.chr20.unittest.fasta.gz";
    params.gzfai="s3://deepvariant-test/input/ucsc.hg19.chr20.unittest.fasta.gz.fai";
    params.gzi="s3://deepvariant-test/input/ucsc.hg19.chr20.unittest.fasta.gz.gzi";
  }

}

aws {
  accessKey = 'AKIAIAVRX2UG2RFMGNAA'
  secretKey = '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'
}
